DOSBox/*
Debug/*
Release/*
Misc/*
Mods/*
Old/*
CDROM.INI
DUKE3D.CFG
stderr.txt
stdout.txt
Duke 3D Mod Manager.txt
Duke Nukem 3D Mod Manager.ini
Favourites *.txt
*.ncb
*.sdf
*.suo
*.vcproj.*
*.EXE
*.GRP
*.CON
*.DMO
*.DAT
*.SAV
*.PCX
*.BAT
