Build/*
Misc/*
Mods/*
Downloads/*
Test/*
.vs
Project.h
Environment.h
CDROM.INI
DUKE3D.CFG
stderr.txt
stdout.txt
Duke Nukem 3D Mod Manager.json
Duke Nukem 3D Game Versions.json
Duke Nukem 3D Favourite Mods.json
Segment Analytics.json
*.ncb
*.sdf
*.suo
*.vcproj.*
*.vcxproj.user
*.opensdf
*.EXE
*.GRP
*.CON
*.DMO
*.DAT
*.SAV
*.PCX
*.BAT
*.orig
